---
// src/layouts/Layout.astro
import '../styles/global.css';
const { title = 'Portfolio' } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-01ELD5DBH5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-01ELD5DBH5');
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />
  <link rel="icon" href="/favicon.ico" />  
  <title>{title}</title>

</head>
<body class="min-h-screen flex flex-col">
  <slot />
  
  <!-- Esto asegura que el footer siempre quede abajo -->
  <style is:global>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1;
    }
  </style>
</body>
</html>